.root {
  padding: 2rem;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(160deg, rgb(7, 20, 34) 10%, rgb(11, 32, 56) 80%);

  p {
    &::before {
      content: "";
      height: 1px;
      background-color: rgba(255,255,255,.2);
      margin: 30px auto;
      display: block;
      width: 150px;
    }
  }
}